// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-custom-variables";
@import "bootstrap-sprockets";
@import "bootstrap";

@import "fonts";
@import "main";

.avatar {
  height: 40px;
  border-radius: 100%;
}

.navbar-default {
  margin: 0;
}

.hin {
  background: $gray-light;
  padding: 2em;
  .hin-form {
    margin: 0 auto;
  }
  .input-group-addon.visibility {
    padding: 0;
  }
  label.check_box {
    display: block;
    font-weight: normal;
    color: $black-light;
  }
  .images {
    padding-top: 6em;

    input[type="file"] {
      width: 1px;
      height: 1px;
      display: none;
    }
  }
  #avatar-preview {
    cursor: pointer;
    height: 150px;
    border-radius: 100%;
    padding: 0px;
    background: transparent;
  }
  .visibility {
    input[type="checkbox"] {
      display: none;
    }
    input[type="checkbox"] + label {
      display: block;
      cursor: pointer;
      padding: 8px 15px 4px;
      font-size: 20px;
    }
    input[type="checkbox"] + label .fa {
      text-shadow: -1px -1px 1px white;
    }
    input[type="checkbox"] + label .fa-eye {
      display: none;
    }
    input[type="checkbox"] + label .fa-eye-slash {
      display: block;
    }
    input[type="checkbox"]:checked + label .fa-eye {
      display: block;
      color: black;
    }
    input[type="checkbox"]:checked + label .fa-eye-slash {
      display: none;
    }
  }
  h3 {
    margin: 10px 0 30px;
    border-bottom: 1px solid $gray-semilight;
    padding: 10px 0;
    font-weight: lighter;
    font-size: 1.75em;
  }
  .field_with_errors {
    .control-label, .form-control {
      border-color: #ff4400;
      color: #ff4400;
    }
  }
  .form-control {
  }
  .form-actions {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding: 20px 0;
  }
  .control-label {
    font-weight: lighter;
    color: $gray-base;
  }
}
#error_explanation {
  border: 1px solid #ff4400;
  color: #ff4400;
  background: white;
  margin: 10px -15px;
  h2 {
    font-size: 16px;
    margin: 5px 0;
  }
  padding: 20px 20px;
}

.navbar-nav > li > .dropdown-menu {
  width: 100%;
}
.dropdown-menu > li > a {
  padding: 10px 20px;
}
.dropdown-menu .divider {
  margin: 0;
}
.navbar-nav > li > .dropdown-menu {
  padding: 0;
}
select.form-control option {
  padding: 5px 10px;
  line-height: 30px;
}
