// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-custom-variables";
@import "bootstrap-sprockets";
@import "bootstrap";

@import "fonts";
@import "main";
@import "request-for-solutions";

.avatar {
  height: 40px;
  border-radius: 100%;
}

#content {
  min-height: 800px;
}

.navbar-default {
  margin: 0;
}

.hin {
  background: $gray-light;
  padding: 2em;
  .hin-form {
    margin: 0 auto;
  }
  .input-group-addon.visibility {
    padding: 0;
  }
  label.check_box {
    display: block;
    font-weight: normal;
    color: $black-light;
  }
  .images {
    padding-top: 6em;

    input[type="file"] {
      width: 1px;
      height: 1px;
      display: none;
    }
  }
  #avatar-preview {
    cursor: pointer;
    height: 150px;
    border-radius: 100%;
    padding: 0px;
    background: transparent;
  }
  .visibility {
    input[type="checkbox"] {
      display: none;
    }
    input[type="checkbox"] + label {
      display: block;
      cursor: pointer;
      padding: 8px 15px 4px;
      font-size: 20px;
    }
    input[type="checkbox"] + label .fa {
      text-shadow: -1px -1px 1px white;
    }
    input[type="checkbox"] + label .fa-eye {
      display: none;
    }
    input[type="checkbox"] + label .fa-eye-slash {
      display: block;
    }
    input[type="checkbox"]:checked + label .fa-eye {
      display: block;
      color: black;
    }
    input[type="checkbox"]:checked + label .fa-eye-slash {
      display: none;
    }
  }
  h3 {
    margin: 10px 0 30px;
    border-bottom: 1px solid $gray-semilight;
    padding: 10px 0;
    font-weight: lighter;
    font-size: 1.75em;
  }
  .field_with_errors {
    .control-label, .form-control {
      border-color: #ff4400;
      color: #ff4400;
    }
  }
  .form-control {
  }
  .form-actions {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding: 20px 0;
  }
  input[type="text"], textarea {
    color: #5a5a5a;
  }
  .control-label {
    font-weight: lighter;
    color: $gray-base;
  }
  input[type="checkbox"]{
      visibility: hidden;
  }
  label.check_box,
  input[type="checkbox"]+label{
      cursor: pointer;
  }
  input[type="checkbox"]::before{
      content: '';
      cursor: pointer;
      visibility: visible;
      display: block;
      background: asset-url("checkbox.png") no-repeat;
      background-position: 0 -14px;
      height: 14px;
      width: 14px;
  }
  input[type="checkbox"]:checked::before{
      background-position: 0 0;
  }

  .sign-in-form{
    h3{
      border: none;
      text-align: center;
      margin-bottom: 0;
    }
    ::-webkit-input-placeholder { text-align: center; }
    :-moz-placeholder           { text-align: center; }
    ::-moz-placeholder          { text-align: center; }
    :-ms-input-placeholder      { text-align: center; }
  }
  .form-actions{
    .shared-links a{
      color: $gray-dark;
      display: inline-block;
    }
    .btn-sign-up-link{
      background: none;
      color: $gray-dark;
      border: 1px solid $gray-dark;
    }
    .btn-sign-up-link:hover{
      color: $gray-lighter;
      background-color:$gray-dark;
      border: 1px solid $gray-lighter;
    }
  }


  ::-webkit-input-placeholder {color: $gray-semilight;}
  ::-moz-placeholder          {color: $gray-semilight;}
  :-moz-placeholder           {color: $gray-semilight;}
  :-ms-input-placeholder      {color: $gray-semilight;}
  ::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.4s ease;}
  ::-moz-placeholder                {opacity: 1; transition: opacity 0.4s ease;}
  :-moz-placeholder                 {opacity: 1; transition: opacity 0.4s ease;}
  :-ms-input-placeholder            {opacity: 1; transition: opacity 0.4s ease;}
  :focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.4s ease;}
  :focus::-moz-placeholder          {opacity: 0; transition: opacity 0.4s ease;}
  :focus:-moz-placeholder           {opacity: 0; transition: opacity 0.4s ease;}
  :focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.4s ease;}
}
#error_explanation {
  border: 1px solid #ff4400;
  color: #ff4400;
  background: white;
  margin: 10px -15px;
  h2 {
    font-size: 16px;
    margin: 5px 0;
  }
  padding: 20px 20px;
}

.navbar-nav > li > .dropdown-menu {
  width: 100%;
}

.navbar-nav > li > a {
  line-height: 40px;
}
.dropdown-menu > li > a {
  padding: 10px 20px;
}
.dropdown-menu .divider {
  margin: 0;
}
.navbar-nav > li > .dropdown-menu {
  padding: 0;
}
select.form-control option {
  padding: 5px 10px;
  line-height: 30px;
}
.container.stories {
  margin-top: 20px;
  width: 700px;
}
.story {
  padding: 33px 0 35px;
  border-top: 1px solid #ddd;
  a.link {
    color: #468c54!important;
  }
  .story-abstract {
    margin-bottom: 10px;
  }
}
.story-title {
  .avatar {
    margin-right: 20px;
  }
  h2 {
    font-weight: bold;
    color: #333;
  }
}
