.landing{
	p{
		font-size: 20px;
	}
}

.moto{
	height: 50vh;
	background-color: #f5f5f5;

	.moto-text{
		padding: 140px 30px;
		
		p{
			font-size: 20px;
		}
	}
}

.vision{
	height: 40vh;
	background-color: transparent;

	p{
		padding-top: 80px;
	}
}

.standards{
	height: 40vh;
	background-color: #f5f5f5;
}