// Base
.row{
  margin-left: 0px;
  margin-right: 0px;
}

.btn {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.13em;
}





// Header
.navbar-default .navbar-brand {
  color: $gray;
}

#navbar {
  li {
    text-transform: uppercase;
  }
}





// Moto
.moto {
  height: 24em;
  padding-top: 1em;
  padding-bottom: 3em;

  > .heading {
    letter-spacing: -0.014em;
    margin-bottom: 1em;
  }

  > .btn {
    line-height: 3.0;
    width: 15em;
  }
}





// Faces
.faces {
  h2 {
    font-size: 24px !important;
    font-weight: bold !important;
    color: $gray;
  }
}


// Content
.content {
  min-height: 20em;
}




// Footer

footer {
  background: $gray-lighter;
  // height: 11em;
  padding: 4em 0;

  h4 {
    font-size: 16px !important;
    color: #1b1b1b;
    font-weight: normal !important;
  }

  p {
    font-weight: lighter;
  }
}
