// Base
.row{
  margin-left: 0px;
  margin-right: 0px;
}

.btn {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.13em;
}

.btn-lg {
  line-height: 3.0;
  text-transform: uppercase;
}





// Header
.navbar {
  border-bottom: none;
}
.navbar-default .navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #cbcbcb;

  &:hover {
    color: #cbcbcb;
  }
  > img {
    display:  inline-block;
    margin-right: 10px;
    position: relative;
    top: -3px;
  }
}

.profile {
  letter-spacing: 0.05em;
  font-size: 14px;
  font-weight: bold;
  > .sign-in {
    position: relative;
    top: 7px;
  }
}

#navbar {
  li {
    text-transform: uppercase;
  }
}


.row-content.gray {
  background: $gray-light;
  border-style: solid;
  border-width: 0px 0px 9px;
  border-image: asset-data-url("border_pattern.png") 0 1 9 round;
}



// Moto
.join-us {
  width: 15em;
}

.moto {
  padding-top: 2.7em;
  margin-bottom: 5em;

  > h1 {
    margin-top: 0;
  }

  > a > img {
    margin-bottom: 3em;
  }

  > .heading {
    color: $gray-dark;
    letter-spacing: -0.01em;
    margin-bottom: 2em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.2em;
    > span {
      color: $gray-darker
    }
  }

}



// Faces
.faces {
  background: transparent;
  padding-left: 0;
  padding-right: 0;
  .row {
    width: 100%;
  }

  img {
    box-shadow: inset 0px 0px 30px 30px rgba(0, 0, 0, 0.4);
    width: 14.286%;
  }
}



// Description
.description {
  padding: 4em 6em 2em 6em;
  color: $black-light;

  > div.col-md-6:first-of-type {
    padding-left: 0;
  }
  > div.col-md-6:last-of-type {
    padding-right: 0;
  }

  > h2 {
    margin-top: 0;
    font-size: 24px !important;
    font-weight: bold !important;
    margin-bottom: 1.5em;
  }

  p {
    margin-bottom: 1.5em;
    font-size: 1.1em; // 18px
    line-height: 1.7em; // 21px
    font-weight: lighter;
    text-align: justify;
  }
  
  .right-column {
    // padding-right: 6em !important;
    p {
      line-height: 1.2;
    }
  }

  .description-intro {
    font-size: 1.3em;
    line-height: 1.4;
    text-align: left;
  }
}




// News
.news {
  padding: 3em 6em 3.5em 6em;
  color: $black-light;

  p {
    color: $gray-base;
    font-size: 1em; // 14px
    font-weight: lighter;
  }
  time {
    color: $gray-base;
    font-size: 0.9em; // 14px
    font-weight: normal;
  }

  h2 {
    margin-top: 0;
    font-size: 1.6em; // 24px
    font-weight: bold;
    margin-bottom: 1.4em;
  }

  h3 {
    font-size: 1.3em; // 21px
    margin-top: 0;
    color: $brand-primary;
  }

  .join-us {
    margin-top: 1.7em;
  }

  > .cards-row {
    margin-bottom: 2em;

    > div:first-child {
      padding-left: 0;
    }
    > div:last-child {
      padding-right: 0;
    }
  }

  > .cards-row:last-of-type {
    margin-bottom: 4em;
  }

  .card {
    border-radius: 2px;
    background: $gray-lighter;
    padding: 2em;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
    border: 1px inset rgba(255, 255, 255, 0.2);
  }

  .col-md-6 > .card {
    padding-left: 6em;

    > h3 {
      position: relative;
    }

    > h3::before {
      content: "";
      width: 32px;
      height: 22px;
      background: asset-data-url("icon-newspaper.png") no-repeat;
      position: absolute;
      left: -2.5em;
      top: -2px;
    }
  }
}




// Content
.content {
  min-height: 20em;
}




// Footer

footer {
  background: $gray-light;
  padding: 2.5em 0 3.3em;

  h4 {
    font-size: 16px !important;
    color: #1b1b1b;
    font-weight: normal !important;
    margin-bottom: 0.5em;
  }

  p {
    font-weight: lighter;
    font-size: 0.8em;
    padding-left: 1.4em;
  }
}
