body {
  color: #444;
}

h6{
  color: #727272;
}

.row{
  margin-left: 0px;
  margin-right: 0px;
}

.navbar {
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border-radius: none;
  margin-bottom: 0px;
  padding: 15px 0px;
}

a.navbar-brand {
  img {
    position: absolute;
    top: 12px;
  }
  .brand-name {
    /* margin-left: 100px; */
    margin-left: 15px;
    color: #333;
    small {
      color: #aaa;
    }
  }
}

@media (max-width: 768px) {
  a.navbar-brand .brand-name small {
    display: none;
  }
  #carousel-example-generic{
    display: none;
  }
}

button.btn {
  border-radius: 0px 0px 0px 0px;
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
}

.navbar-form input.form-control {
  border-radius: 0px 0px 0px 0px;
  width: 300px;
  margin-right: 20px;
  background-color: transparent;
}

.naviga {
  background-color: white;
  border-bottom: 1px solid #eee;
  padding: 15px 0px;
}

ul.list-inline {
  margin-bottom: 0px;
  li {
    padding-right: 20px;
  }
}

.naviga ul.list-inline a {
  color: #444;
  padding-left: 15px;
  &.active {
    font-weight: bold;
    color: #e74c3c;
  }
}

.carousel-inner{
  border-bottom: 1px solid #eee;
}

.carousel-inner > .item > a > img{
	margin-left: auto;
	margin-right: auto;
}

.carousel-inner .item{
  height: 400px;
  background-color: #f5f5f5;
}

.carousel-inner .carousel-caption{
  text-align: center;
  padding-bottom: 150px;
  color: #444;
  text-shadow: none;
}

.allcontent {
  position: relative;
}

.mycontent {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-right: 40px;
  background-color: white;
  box-shadow: inset 0px 20px 0px -20px #e4e4e4;
  border-right: 1px solid #ddd;
}

.texture {
  position: absolute;
  width: 800px;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: #f9f9f9;
  background-image: url("pixel.png");
  background-repeat: repeat;
}

.news {
  margin-top: 40px;
}

blockquote {
  font-size: 14px;
  border-left: 2px solid #eee;
}

footer {
  padding-top: 40px;
  border-top: 1px solid #eee;
  background-color: #f9f9f9;
}

.footerlinks {
  padding-bottom: 40px;
}

.footeradd {
  background-color: #f1f1f1;
  padding: 15px 0px;
  color: #aaa;
}

.activity{
  margin-left: -15px;
  
  p {
    margin-top: 10px;
    max-width: 350px;
  }
}

/* About */
.about{
  margin-top: 40px;
  border-right: 1px solid #ddd;
  margin-bottom: 40px;
}
