p Thanks for signing up with Healthcare Innovation Network!

p Please click this link to verify your account:

p= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)

p "For future reference, you have signed up with your email #{@email}"

p Healthcare Innovation Network

a href=ENV[:host] hin
